numpy
torch
tiktoken
tokenizers
pytorch-lightning
transformers
sentence-transformers
scikit-learn
accelerate
hydra-core
hydra-joblib-launcher
wandb
pytorch-concepts
pre-commit
plotly
pandas
seaborn
matplotlib